h1, h2, h3 {
  display: flex;
  justify-content: center;
}

.character-list {
  padding-left: 0;
}

.character-list a {
  text-decoration: none;
  color: ivory;
}

.characterTraits {
  display: flex;
  list-style: none;
  padding: 2em;
  justify-content: space-around;
  background-color: #98b5bd;
  font-size: 2em;
}

.App-header {
  background-color: #282c34;
/*  min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}