h1, h2, h3 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-variant: small-caps;
}

body {
  font-size: 16px;
  color: #fff;
}

.app-header h1 {
  color: #FFE81F;
  font-variant: small-caps;
}

.character-list {
  padding-left: 0;
}

.characterTraits {
  display: flex;
  list-style: none;
  padding: 2em;
  justify-content: space-evenly;
  background-color: #101113;
  font-size: 1.2rem;
  border-radius: 15px;
}

.characterTraits span {
  padding: 0 2em;
  display: flex;
  min-width: 10em;
  justify-content: center;
}

.container {
  padding: 5em;
  justify-content: center;
  background-color: #808080;
}

.img-container {
  padding: 15px;
  
}

.img-container img {
  border-radius: 15px;
}

.app-header {
  background-color: #282c34;
/*  min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.app-header .nav-list {
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  min-width: 15em;
}

.button-nav {
  justify-content: space-between;
}

.btn {
  padding: 10px;
  min-width: 2em;
  max-width: 5em;
  text-decoration: none;
  color: #676767;
  background-color: #FFE81F;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-variant: small-caps;
  font-weight: bold;
}

.btn:hover {
  color: #3b3b3b;
  background-color: #ffee5a;
}



.character-list a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  display: block;
}

.btn-list {
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  display: block;
  font-variant: small-caps;
  font-weight: bold;
}

.btn-list:hover {
  color: #3b3b3b;
}


/* FLEX */
.flex {
  display: flex;
}